p {
    font-size: 54px;
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#rotating-item-wrapper {
    position: relative;
    width: 2000px;
    height: 800px;
}
.rotating-item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}