<% include partials/header.ejs %>

<div class="jumbotron">
        <h1 class="display-4">About our company!</h1>
        <p class="lead">We got glazed, chocolate iced, rasberry filled, chocolate iced glazed, glazed chocolate cake, powdered cake, and about three dozen other flavors to satisfy your sugar cravings!</p>
      </div>

<% include partials/footer.ejs %>
