<% include partials/header.ejs %>

<p>Got suggestions on new donut flavors? Shoot us a message.</p>

<div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">With textarea</span>
        </div>
        <textarea class="form-control" aria-label=""></textarea>
      </div>

<% include partials/footer.ejs %>