#button1{
    background: #0d47a1;
    text-transform: uppercase;
    margin: 10% auto;
    width: 20%;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    padding: 1em .5em;
    cursor: pointer;
    position: fixed;
    left: 10px;
    right: 1000px;
}

#button2{
    background: #F44336;
    text-transform: uppercase;
    margin: 10% auto;
    width: 20%;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    padding: 1em .5em;
    cursor: pointer;
    position: fixed;
    left: 10px;
    right: 350px;
}

#button3{
    background: #4caf50;
    text-transform: uppercase;
    margin: 10% auto;
    width: 20%;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    padding: 1em .5em;
    cursor: pointer;
    position: fixed;
    left: 350px;
    right: 20px;
}

#button4{
    background: #ffeb3b;
    text-transform: uppercase;
    margin: 10% auto;
    width: 20%;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    padding: 1em .5em;
    cursor: pointer;
    position: fixed;
    left: 1000px;
    right: 10px;
}